.navigationDrawerShadow, .navigationDrawer {
  width: 100%;
  max-width: 300px;
  height: 100vh;
}

.navigationDrawer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #00695c;
  position: fixed;
  left: 0;
  top: 0;
  color: #ffffff;

  .head {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    height: 60px;
    background: transparentize(#000, 0.9);
    padding: 0 20px;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .link {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 40px;
      text-decoration: none;
      padding: 0 16px;
      color: inherit;
      transition: background 200ms ease-in-out;
      width: calc(100% - 20px);
      margin: 0 10px;
      border-radius: 8px;

      &:hover {
        background: transparentize(#ffffff, 0.9);
      }

      .linkText {
        font-size: 1.125em;
      }
    }
  }
}